nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    padding: 2em 0em;
}

nav > img {
    width: 100px;
    border-radius: 100%;
}

nav > h3 {
    margin-top: 1em;
    color: white;
}
